/* Body part */

body {

    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header Part */

.section-01 {

    display: flex;
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
    justify-content: space-between;
    background-color: #E554731A;
}

.section-01 div {

    gap: 95px;
}

.div-function-01 {

    margin-top: 197px;
    margin-left: 240px;
}

.header-01 {

    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;

}

.description-01 {

    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    width: 634px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.image-01 {
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 240px;
    margin-left: ;
}

.btn-01 {

    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* Main Part */

.section-02 {

    margin-top: 178px;

}

.header-02 {

    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.description-02 {

    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 594px;
    margin-left: 660px;
    margin-right: 660px;


}

.section-03 {

    display: flex;
    margin-left: 240px;
    margin-right: 240px;
    justify-content: space-between;
    margin-top: 50px;
}

.section-03 div {

    margin-left: 15px;
    display: block;

}

.section-03 img {

    width: 200px;
    height: 300px;
    flex-shrink: 0;

}

.section-03 h4 {

    text-decoration: underline;
    text-align: center;
}

.div-function-03>img {

    border-radius: 300px 300px 0px 0px;
    background: #A7216226;
    width: 464px;
    height: 538px;
    flex-shrink: 0;

}

.div-function-04>img {

    border-radius: 300px 300px 0px 0px;
    background: #0597A026;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}

.div-function-05>img {

    border-radius: 300px 300px 0px 0px;
    background: #477D1126;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}

.section-04 {

    display: flex;
    margin: 128px 240px;
    background-color: #2727270D;
    padding-top: 5px;
}

/* .section-04>div-function-06 {

    margin-left: 20px;
} */

.image-03 {

    width: 88px;
    height: 88px;
    flex-shrink: 0;
    padding-top: 86px;
    padding-left: 230px;

}

.header-03 {

    padding-left: 100px;
    color: #272727CC;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 85px;

}

#img-01 {

    margin-right: 115px;
}

.section-05 {

    display: flex;
    justify-content: space-between;
    background-color: #E554730D;
}

.div-function-07 {

    margin-top: 200px;
    margin-bottom: 150px;
    margin-left: 200px;
}

.header-04 {

    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
    margin-left: 30px;

}

.description-03 {

    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 594px;
    margin-bottom: 52px;

}

#btn-extra {

    margin-left: 195px;
}

.off {

    color: #E55473;
    font-size: 40px;
    font-weight: 800;

}

.image-04 {

    margin-top: 100px;
    margin-right: 429px;
}